* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(15, 15, 175), black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 3rem;
    color: rgb(255, 255, 0);
    padding-top: 4rem;
    text-shadow: rgba(0, 0, 0, 0.9) 10px 15px 15px;
}

h1 {
    font-size: 5rem;
    color: rgb(238, 10, 10);
    padding: 50px;
    text-shadow: rgba(0, 0, 0, 0.9) 10px 15px 15px;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
    background-image: linear-gradient(rgb(194, 82, 38), rgb(173, 6, 6));
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 4rem;
    perspective: 800px;

}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: 1000ms ease;
    box-shadow: rgba(0, 0, 0, 0.9) 10px 15px 15px;
    cursor: pointer;
}

.face,
.back {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    pointer-events: none;

}

.back {
    background-image: linear-gradient(rgb(15, 15, 175), black);
    backface-visibility: hidden;
}

.toggleCard {
    transform: rotateY(180deg);
}