* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows: repeat(4, 8rem);
}

.face,
.back {
    width: 100%;
    height: 100%;
    object-fit: contain;
}